
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Raleway:wght@100;400;500;600&display=swap');

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hmtl {
    font-family: 'inter', sans-serif;
    font-size: 62.5%;
    color: #111111;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: 2em;
}

header, footer {
    font-size: 1.8em;
    color: #ffff;
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.fill-color-warn {
 background-color: #FF3333;
}

/* ver si no esta el bg dark en bootstrap */
.fill-color-black {
    background-color: #30343F;
}

.text-color-semi-black {
    color: #30343F
}

.text-color-bold-black { 
    color: #111111;
}

.text-color-blue {
    color: #1D84B5;
}
