
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Raleway:wght@100;400;500;600&display=swap');
:root {
    /** colores **/
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid:#1D84B5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid:#1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid:#FAFAFF;
    --light-font-solid: #FFFF;

    /** Typography **/
    --base-font: 'inter', sans-serif;
    --title-font: 'Raleway', sans-serif;

    /** font-sizes **/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3.0em;
    --font-large: 24em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /** spacings **/

    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem; 
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;

}

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: var(--dark-solid);
    font-family: var(--base-font);
    font-size: 62.5%;
}

img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
}

header, footer {
    color: var(--light-font-solid);
   
   /* background-color: var(--dark-bg-solid);*/
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: var(--font-medium);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/** header **/

header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);

}
.navbar , .navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.navbar__logo {
    width: 300px;

}

.navbar__link {
  font-size:var(--font-medium);
  font-family: var(--title-font);
   
}

.navbar__menu {
    gap: var(--spacing-20);
}

